Hello!

<form action='/birthday_message' method="post">
    What is your name? <br/>
    <input type="text" name="name"/>
    When is your birthday? <br/>
    Day: <input type="text" name="day"/>
    Month: <input type="text" name="month"/>
    <input type="submit" value="Go!"/>
</form>
