    <h1>Hello!</h1>

    <div class="form">
      <form action='/birthday_message' method="post">
        <h2>What is your name?</h2> <br/>
        <input type="text" name="name"/> <br/><br/>
        <h2>When is your birthday?</h2> <br/>
          Day: <input type="text" name="day"/> <br/><br/>
          Month:
          <select name="month">
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
           <!-- <input type="text" name="month"/> <br/><br/> -->
          </select>
          <br/><br/>
         <div class="button">
           <input type="submit" value=""/>
         </div>
      </form>
    </div>
