    <h1>Hello!</h1>

    <div class="form">
      <form action='/birthday_message' method="post">
        <h2>What is your name?</h2> <br/>
        <input type="text" name="name"/> <br/><br/>
        <h2>When is your birthday?</h2> <br/>
          Day: <input type="text" name="day"/> <br/><br/>
          Month: <input type="text" name="month"/> <br/><br/>
          <div class="button">
            <input type="submit" value="Go!"/>
          </div>
      </form>
    </div>
