    <% if @days == 0 %>
      <h1 style="color:green;"> Happy Birthday <%= @name %>!! </h1>
    <% else %>
      Hello <%= @name %>, it is <h4><%= @days %></h4> days until your birthday!
    <% end %>
