body {
  font-family: tahoma;
  width: 50%;
  margin: auto;
}
h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: silver;
  text-align: center;
}
p {
  color: red;
}
input[type=text] {
  border-radius: 25px;
  text-align: center;
  background-color: powderblue;
  font-size: 25px;
}
input[type=submit] {
  border-radius: 25px;
  text-align: center;
  width: 25%;
  background-image: url('go_button.jpeg');
  padding: 90px 120px;
  color: white;
  border: white;
}
input[type=select]{
  font-size: 30px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.form{
  text-align: center;
}
.button{

}
